ul a {
    color: #0D3D2B;
    text-decoration: none;
}
    
ul a:hover {
    opacity: 0.7;
}
    
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #0D3D2B;
    text-decoration: none;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image{
    height: 40px;
    width: 40px;
}
body{
    margin: 0;
    padding: 0;
    background: url("/projetoPesca/style/images/BackGround.png") repeat center center/cover;  
}
main{
    display: block;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; /** espaço ao redor é metade do espaço entre eles **/
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:#9EBD98 ;
    height: 8vh; /** vh é uma medida responsiva vh 100 = tela inteira **/
    
}
    
.nav-list{
    list-style: none;
    display: flex;
    z-index:2;
}
    
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
    
.mobile-menu{
    display:none;
    cursor: pointer;
}
    
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #0D3D2B;
    margin: 8px;
    transition: 0.3s;
}

.content-title{
    color: #fff;
    font-size: 64px;
    text-align: center;
    margin-bottom: 8px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
    
@media (max-width:999px){
    body{
        overflow: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vh;
        height: 92vh;
        background: #9EBD98;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
    display: block;
    }
}
.nav-list.active {
    transform: translateX(0);
}
    
@keyframes navLinkFade {
    from{
        opacity: 0 ;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
      
.mobile-menu.active .line2 {
    opacity: 0;
}
      
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}    
.dropdown-menu{
    position: absolute;
    box-shadow: 0px 0px 6px black;
    display: none;
    background-color:#0D3D2B;
    margin-top: 10px;
}

.dropdown-menu a{
    display: block;
    color:#9EBD98;
    
}

.dropdown-text{
    margin: 8px;
    color: #9EBD98;
    background-color: transparent;
}
.dropdown-text:hover{
    margin: 8px;
    background-color:#08281c ;
}

.content{
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:32px;
    z-index: 1;
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition:.4s;
}

.bar:hover{
    background-color: #fff;
}

.tituloPrincipalGararu{
    margin-left: 10%;
    color: #08281c;
    font-size: 200px;
    position:static;
    align-content: center;
}

.containerTiTuloPrincipal{
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: row;
}
.containerCitacao{
    margin-left:30%;
    word-break:break-all;
    display:inline-block;
    align-content: center;
}
.citacaoTituloPrincipal{
    color: #08281c;
    font-size:x-large;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    background-color: rgba(0, 0, 0, 0.411);
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.TotalSlide{
    border-top: 50px solid;
    border-color: #08281c;
    background-color:#08281c
}
.containerApresentacao{
    justify-content: center;
    display: flex;
    padding-top: 10vh;
}
.containerApresentacaoTexto{
    padding: 40px;
    width: 500px;
    display: block;
}
.tituloApresentacao{
    color: #08281c;
    font-size: 60px;
    position:static;
    align-content: center;
}
.textoApresentacao{
    padding-top: 10px;
    word-break:keep-all;
    display:inline-block;
    align-content: center;
    font-size: large;
}
.containerInfo{
    padding-top: 10vh;
    justify-content: center;
    align-content: center;
    display:flex;
}
.containerInfoMenor{
    border: #08281c solid;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin:30px;
    display: flex;
    height: 60vh;
    width: 25vw;
    background-color: #DCEDD1;
    padding: 16px;
}
.TituloHistorico{
    align-self: center;
    margin-bottom: 15px;
    color: black;
    font-size:xx-large;
}
.TextoHistorico{
    border: #08281c solid;
    padding: 20px;
    font-size: large;
    margin-top: 10px;
    word-break:keep-all;
    display:inline-block;
    align-content: center;
}

.containerInfoMenor button{
    padding: 20px;
    margin-top: 15px;
    background-color:#08281c;
    background-size:cover;
    justify-content: center;
    font-size:large;
    color: white;
    justify-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.containerInfoMenor button:hover{
    cursor: pointer;
    padding: 20px;
    background-color:#717171;
    background-size:cover;
    justify-content: center;
    font-size:large;
    color: black;
    justify-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.containerBotao{
    justify-content: center;
    display: flex;
    margin-top:10px;
}
.containerBotao2{
    display: flex;
    margin-top:50px;
}
.botaoApresentacao{
    cursor: pointer;
    padding: 20px;
    background-color:#08281c;
    background-size:cover;
    justify-content: center;
    font-size:large;
    color: white;
    justify-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.botaoApresentacao:hover {
    cursor: pointer;
    padding: 20px;
    background-color:#08281c63;
    background-size:cover;
    justify-content: center;
    font-size:large;
    color: black;
    justify-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ContainerSetasNum{
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.imagemSeta{
    width: 50px;
}
.blocoNumero{
    padding: 8px;
    font-size: 40px;
}